<template>
  <div v-html="text" @click="sendSelectedAnswer"></div>
</template>

<script>
export default {
  name: "Answer",
  props: ["text"],
  methods: {
    sendSelectedAnswer() {
      this.$emit("answerSelection", this.text);
    },
  },
};
</script>

<style scoped>
</style> 