<template>
  <div class="body">
    <div class="container">
      <h3>{{ getTitle }}</h3>
      <slot> 404 PAGE NOT FOUND </slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "Body",
  computed: {
    getTitle() {
      return this.$store.state.title;
    },
  },
};
</script>

<style scoped>
.body {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #444;
  border-radius: 5px;
  margin: 10%;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

h3 {
  color: #fff;
  padding: 20px;
  text-align: center;
}
</style>