<template>
  <div class="container">
    <div class="card" v-for="(item, index) in sortedCategories" :key="index">
      <div @click="startQuiz">
        <h1>{{ item }}</h1>
      </div>
    </div>
  </div>
</template>

<script>
import { categories as categoriesList } from "../utils/questions";
export default {
  name: "Categories",
  mounted: function () {
    this.$store.state.title = "Categories";
  },
  data() {
    return {
      categories: categoriesList,
    };
  },
  methods: {
    startQuiz(e) {
      let item = e.target.innerText;
      let category = this.categories[item];
      this.$router.push({ name: "quiz", params: { category } });
    },
  },
  computed: {
    sortedCategories() {
      return Object.keys(this.categories).sort((a, b) => a.length - b.length);
    },
  },
};
</script>

<style scoped>
.card {
  background-color: aquamarine;
  display: inline-block;
  color: rgba(255, 17, 0, 0.5);
  min-width: 200px;
  min-height: 100px;
  padding-top: 10px;
  text-align: center;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin: 4px;
}

.card:hover {
  border-color: white;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: none;
}
</style>