<template>
  <div class="container">
    <p>There was an error, please try again.</p>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.start {
  padding-top: 0;
  height: 50px;
  width: 40%;
  background-color: aquamarine;
}
.container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>