<template>
  <div class="footer">
    {{ message }}
  </div>
</template>

<script>
export default {
  data() {
    return {
      message: "This website is built with Vue",
    };
  },
};
</script>

<style scoped>
.footer {
  background-color: #444;
  display: sticky;
  color: aliceblue;
  text-align: center;
  bottom: 0;
  padding: 10px;
}
</style>