<template>
  <div class="header">
    <h1>{{ title }}</h1>
    <hr />
    <router-link :to="{ name: 'start' }">Home</router-link>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: "Trivia Game",
    };
  },
};
</script>

<style scoped>
.header {
  padding: 10px;
  padding-left: 20px;
  background-color: #444;
  color: #fff9;
  display: flex;
}

a {
  width: 100px;
  color: #fff9;
  text-decoration: none;
  text-align: center;
  padding-top: 30px;
  border-radius: 6px;
}
a:hover {
  background-color: #fff9;
  color: azure;
}

hr {
  margin: 10px;
  padding-left: 2px;
  background-color: #fff9;
  border-style: none;
}
</style>