<template>
  <div class="container">
    <!-- questions -->
    <div class="card" v-if="isQuizCompleted == false">
      <Question class="question" :text="questionText" />

      <div class="answer" :key="answer" v-for="answer in shuffledAnswers">
        <Answer :text="answer" @answerSelection="addSelectedAnswer" />
      </div>
    </div>
    <!-- results -->
    <div v-else>
      <div class="card" :key="index" v-for="(question, index) in questions">
        <Question class="question" :text="question.question" />
        <div
          :key="answer"
          v-for="answer in [
            ...question.incorrect_answers,
            question.correct_answer,
          ]"
        >
          <Answer class="answer" :text="answer" />
        </div>
        <!--  result card -->
        <div class="result-card">
          <div
            class="answer correct"
            :class="{ incorrect: !selectedAnswers[index].isCorrect }"
            v-html="userAnswer(index)"
          ></div>
          <div class="answer" v-html="correctAnswer(index)"></div>
        </div>
      </div>
      <p class="card score">Total score: {{ score }}</p>
    </div>
  </div>
</template>

<script>
import Question from "./Question.vue";
import Answer from "./Answer.vue";
import { fetchQuestions } from "../utils/questions";
import { shuffle as _shuffle } from "lodash";

export default {
  name: "Quiz",
  components: { Question, Answer },
  data() {
    return {
      questions: null,
      questionIndex: 0,
      currentQuestion: null,
      questionText: "",
      possibleAnswers: [],
      selectedAnswers: [],
      isQuizCompleted: false,
      selectedCategory: this.$route.params.category,
    };
  },
  created: async function () {
    this.questions = await fetchQuestions(this.selectedCategory);
    if (
      this.questions === null ||
      this.questions == undefined ||
      this.questions.length == 0
    ) {
      this.$router.push({ name: "error" });
    } else {
      this.showQuestion();
    }
  },
  computed: {
    shuffledAnswers() {
      return _shuffle(this.possibleAnswers);
    },
    score() {
      let score = 0;
      this.selectedAnswers.forEach((answer) => {
        if (answer.isCorrect) {
          score += 10;
        }
      });
      return score;
    },
  },
  methods: {
    addSelectedAnswer(answer) {
      // check if it is the correct answer
      if (answer == this.currentQuestion.correct_answer) {
        this.selectedAnswers.push({ answer: answer, isCorrect: true });
      } else {
        this.selectedAnswers.push({ answer: answer, isCorrect: false });
      }
      // update question index and check if next question needs to be shown
      // or present the results by completing quiz
      this.questionIndex++;
      if (this.questionIndex < this.questions.length) {
        this.showQuestion();
      } else {
        this.isQuizCompleted = true;
        this.updateTitle();
      }
    },
    showQuestion() {
      // update current unanswered question data
      this.currentQuestion = this.questions[this.questionIndex];
      this.questionText = this.currentQuestion.question;
      this.possibleAnswers = [
        ...this.currentQuestion.incorrect_answers,
        this.currentQuestion.correct_answer,
      ];
      this.updateTitle(this.questionIndex + 1);
    },
    userAnswer(index) {
      return `Your answer was: ` + this.selectedAnswers[index].answer;
    },
    correctAnswer(index) {
      return `Correct answer is: ` + this.questions[index].correct_answer;
    },
    updateTitle(question = 0) {
      if (question === 0) {
        this.$store.state.title = "Results";
      } else {
        this.$store.state.title =
          "Question " + question + "/" + this.questions.length;
      }
    },
  },
};
</script>

<style scoped>
.container {
  margin: 20px;
  padding: 2px;
  box-shadow: none;
}

.question {
  background-color: #fff;
  border-radius: 9px;
  padding: 7px;
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
}

.answer {
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 9px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  padding: 5px;
}

.answer:hover {
  cursor: pointer;
  border-color: white;
}

.correct {
  background-color: rgba(40, 204, 81, 0.699);
}

.incorrect {
  background-color: rgba(255, 17, 0, 0.5);
}

.card {
  background-color: aquamarine;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  border-radius: 9px;
  margin: 20px;
  padding: 10px;
}

.result-card {
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
}

.score {
  margin-left: 30%;
  margin-right: 30%;
  padding: 20px;
  color: black;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
}

.result-card,
.correct,
.incorrect,
.answer,
.question {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}
</style>