<template>
  <div class="container">
    <button class="start" @click="toCategory">Start Quiz!</button>
  </div>
</template>

<script>
export default {
  mounted: function () {
    this.$store.state.title = "New Game";
  },
  methods: {
    toCategory() {
      this.$router.push({ name: "categories" });
    },
  },
};
</script> 

<style scoped>
.start {
  padding-top: 0;
  height: 70px;
  width: 50%;
  border-radius: 9px;
  font-weight: bold;
  border-color: black;
  background-color: aquamarine;
}
.start:hover {
  border-color: white;
}
.container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
}
</style>