<template>
  <div id="app">
    <Header />

    <Body>
      <router-view />
    </Body>

    <Footer />
  </div>
</template>

<script>
import Header from "./components/Header.vue";
import Footer from "./components/Footer.vue";
import Body from "./components/Body.vue";

export default {
  name: "App",
  components: {
    Header,
    Footer,
    Body,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: aliceblue;
}

body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}
</style>